/* Comment goes here */

/* p {
    color:white;
    background-color:gray;
}*/

/* h1 { color: orange; }  */

/* p {
    color: red;
    font-size:130%;
}  */

/* #intro {
    color: white;
    background-color: gray;
}  */

/* #.first {font-size: 200%;} */

/* #intro .first em {
    color: pink;
    background-color:gray;
} */

/* p {
    color: green; */
    /* This is a comment */
/*     font-size: 150%;
} */

/*TODO: The font-family Property */
/*p.serif {
    font-family: "Times New Roman", Times, serif;
}
p.sansserif {
    font-family: Helvetica, Arial, sans-serif;
}
p.monospace {
    font-family: "Courier New", Courier, monospace;
}
p.cursive {
    font-family: Florence, cursive;
}
p.fantasy {
    font-family: Blippo, fantasy;
}*/

/*TODO: The font-size Property */
/*p.small {
    font-size: small;
}
p.medium {
    font-size: medium;
}
p.large {
    font-size: large;
}
p.xlarge {
    font-size: x-large;
}*/

/*TODO: The font-size Property */
/*h1 {
    font-size: 20px;
}

h1 {
    font-size: 1.25em;
}*/

/*TODO: The font-style Property */
/*p.italic {
    font-style: italic;
}*/

/*TODO: The font-style Property */
/*p.normal {
    font-style: normal;
}
p.italic {
    font-style: italic;
}
p.oblique {
    font-style: oblique;
}*/

/*TODO: The font-weight Property */
/*p.light {
    font-weight: lighter;
}
p.bold {
    font-weight: bold;
}
p.bolder {
    font-weight: bolder;
}*/

/*TODO: The font-weight Property */
/*p.light {
    font-weight: lighter;
}
p.thick {
    font-weight: bold;
}
p.thicker {
    font-weight: 700;
}*/

/*TODO: The font-variant Property */
/*p.normal {
    font-variant: normal;
}
p.small {
    font-variant: small-caps;
p.inherit {
    font-variant: inherit;
}*/

/*TODO: The color Property */
/*p.example {
    color: green;
}*/

/*TODO: The color Property */
/*h1 {
    color: #0000FF;
}
p.example {
    color: rgb(255,0,0);
}*/

/*TODO: The text-align Property */
/*p.left {
    text-align: left;
}
p.right {
    text-align: right;
}
p.center {
    text-align: center;
}*/

/*TODO: The vertical-align Property */
/*td.top {
    vertical-align: top;
}
td.middle {
    vertical-align: middle;
}
td.bottom {
    vertical-align: bottom;
}*/

/*TODO: The vertical-align Property */
/*span.baseline {
    vertical-align: baseline;
}
span.sub {
    vertical-align: sub;
}
span.super {
    vertical-align: super;
}
span.pixel {
    vertical-align: -10px;
}*/

/*TODO: The vertical-align Property */
/*.main {
    height: 150px; width: 400px;
    background-color: LightSkyBlue;
    display: inline-table;
}
.paragraph {
    display: table-cell;
    vertical-align: middle;
}*/

/*TODO: The text-decoration Property */
/*p.none {
    text-decoration: none;
}
p.inherit {
    text-decoration: inherit;
}
p.overline {
    text-decoration: overline;
}
p.underline {
    text-decoration: underline;
}
p.line-through {
    text-decoration: line-through;
}*/

/*TODO: The text-decoration Property */
/*text-decoration: blink;*/

/*TODO: The text-indent Property */
/*p {
    text-indent: 60px;
}*/

/*TODO: The text-shadow Property */
/*h1 {
    color: blue;
    font-size: 30pt;
    text-shadow: 5px 2px 4px grey;
}*/

/*TODO: text-shadow with Blur Effect */
/*h1 {
    font-size: 20pt;
    text-shadow: rgba(0,0,255,1) -1px -2px 0.5em;
}*/

/*TODO: The text-transform Property */
/*p.capitalize {
    text-transform: capitalize;
}*/

/*TODO: text-transform Values */
/*p.uppercase {
    text-transform: uppercase;
}
p.lowercase {
    text-transform: lowercase;
}*/

/*TODO: The letter-spacing Property */
/*p.normal {
    letter-spacing: normal;
}
p.positive {
    letter-spacing: 4px;
}
p.negative {
    letter-spacing: -1px;
}*/

/*TODO: Using Negative Values */
/*p.positive {
    letter-spacing: 4px;
}
p.negative {
    letter-spacing: -1.5px;
}*/

/*TODO: The word-spacing Property */
/*p.normal {
    word-spacing: normal;
}
p.px {
    word-spacing: 30px;
}*/

/*TODO: Measurement Units */
/*p.positive {
    word-spacing: 20px;
}
p.negative {
    word-spacing: -5px;
}*/

/*TODO: The white-space Property */
/*p {
    white-space: nowrap;
}*/

/*TODO: The white-space Values */
/*p.pre {
    white-space: pre;
}
p.preline {
    white-space: pre-line;
}
p.prewrap {
    white-space: pre-wrap;
}*/

/*TODO: The border Property */
/*p {
    padding: 10px;
    border: 5px solid green;
}*/

/*TODO: Border Width */
/*p.first {
    padding: 10px;
    border-style: solid;
    border-width: 2px;
}
p.second {
    padding: 10px;
    border-style: solid;
    border-width: 5px;
}*/

/*TODO: Border Color */
/*p.first {
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: blue;
}
p.second {
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #FF6600;
}
p.third {
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 153, 0);
}*/

/*TODO: The border-style Property */
/*p.none {border-style: none;}
p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.hidden {border-style: hidden;}*/

/*TODO: CSS Width and Height */
/*div {
    border: 2px solid red;
    width: 100px;
    height: 80px;
}*/

/*TODO: Width and Height Measurement */
/*div {
    border: 5px solid green;
    width: 100%;
    height: 90px;
}*/

/*TODO: The Minimum and Maximum Sizes */
/*p.first {
    border: 5px solid green;
    min-height: 100px;
}
p.second {
    border: 5px solid green;
    max-width: 100px;
}*/

/*TODO: The background-color Property */
/*body {
    background-color: #87CEFA;
}*/

/*TODO: The Background Color Values */
/*body {
    background-color: #C0C0C0;
}
h1 {
    background-color: rgb(135, 206, 235);
}
p {
    background-color: LightGreen;
}*/

/*TODO: The background-image Property */
/*body {
    background-image: url("http://www.sololearn.com/uploads/css_logo.png");
    background-color: #e9e9e9;
}*/

/*TODO: The background-image Property */
/*p {
    padding: 30px;
    background-image: url("http://www.sololearn.com/images/tree.jpg");
    color: white;
}*/

/*TODO: The background-repeat Property */
/*body {
    background-image: url("http://www.sololearn.com/uploads/css_logo.png");
    background-repeat: repeat-x;
    /*background-repeat: no-repeat;*/
    /*background-repeat: no-repeat;
}*/

/*TODO: Setting the Value to Inherit */
/*body {
    background-image: url("http://www.sololearn.com/uploads/css_logo.png");
    background-repeat: repeat-x;
}
p {
    background-image: url("http://www.sololearn.com/uploads/css_logo.png");
    background-repeat: inherit;
    margin-top: 200px;
    padding: 50px;
}*/

/*TODO: The background-attachment Property */
/*body {
    background-image: url("http://www.sololearn.com/uploads/css_logo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}*/

/*TODO: The background-attachment Values */
/*body {
    background-image: url("http://www.sololearn.com/uploads/css_logo.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
}*/

/*TODO: The list-style-type Property */
/*ol.lower-alpha {
    list-style-type: lower-alpha;
}
ul.circle {
    list-style-type: circle;
}
ul.square {
    list-style-type: square;
}*/

/*TODO: The List Image and Position */
/*ul {
    list-style-image: url("http://www.sololearn.com/images/bullet.jpg");
    list-style-position: inside;
}*/

/*TODO: The list-style Property */
/*ul {
    list-style-type: square;
    list-style-position: outside;
    list-style-image: none;
}*/

/*TODO: The Table Properties */
/*table {
    border-collapse: separate;
    border-spacing: 20px 40px;
}*/

/*TODO: The caption-side Property */
/*caption {
    caption-side: top;
}*/

/*TODO: The empty-cells Property */
/*table {
    border-collapse: separate;
    empty-cells: hide;
}*/

/*TODO: The empty-cells Property */
/*table {
    border-collapse: separate;
    width: 100%;
    border: 1px solid gray;
}
td {
    border: 1px solid gray;
}
table.auto {
    table-layout: auto;
}
table.fixed {
    table-layout: fixed;
}*/

/*TODO: Setting Styles to Links */
/*a:hover {
    color: red;
}*/

/*TODO: Links' Text Decoration */
/*a:link {
    text-decoration: none;
}*/

/*TODO: display: block */
/*span {
    display: block;
}*/

/*TODO: display: inline */
/*p {
    display: inline;
}*/

/*TODO: display:none */
/*h1 {
    display: none;
}*/

/*TODO: The visibility Property */
/*div.hidden {
    visibility: hidden;
}*/

/*div.hidden {
    display: none;
}*/

/*TODO: Positioning Elements */
/*p.position_static {
    position:static;
    top: 30px;
    right: 5px;
    color: red;
}*/

/*TODO: Fixed Positioning */
/*p.position_fixed {
    position:fixed;
    top: 30px;
    right: 5px;
    color: blue;
}*/

/*TODO: Relative Positioning */
/*p {
    width: 350px;
    border: 1px black solid;
    position: fixed;
}
span {
    background: green;
    color: white;
    position: relative;
    top: 150px;
    left: 50px;
}*/

/*TODO: Relative Positioning */
/*img {
    float: right;
}*/

/*TODO: Elements Next to Each Other */
/*img {
    float: left;
    width: 120px;
    margin-right: 10px;
}
p {
    width: 120px;
    float: left;
}*/

/*TODO: Clearing the Float */
/*.floating {
    float: right;
}*/

/*TODO: Clearing Floats */
/*.floating {
    float: right;
}
.clearing {
    clear: both;
}*/

/*TODO: The overflow Property */
/*div {
    width: 150px;
    height: 150px;
    background-color: LightBlue;
    float: left;
}*/

/*TODO: The overflow Property Values */
/*div {
    width: 150px;
    height: 150px;
    background-color: LightBlue;
    float: left;
    overflow: scroll;
}*/

/*TODO: The z-index Property */
/*.blue {
    background-color: #8EC4D0;
    margin-bottom: 15px;
    width: 120px;
    height: 120px;
    color: #FFF;
}
.red {
    background-color: #FF4D4D;
    position: relative;
    width: 120px;
    height: 120px;
    color: #FFF;
    margin-top: -50px;
    margin-left: 50px;
}*/

/*TODO: Assigning the z-index Property */
/*.blue {
    z-index: 3;
    position: relative;
    background-color: #8EC4D0;
    margin-bottom: 15px;
    width: 120px;
    height: 120px;
    color: #FFF;
}
.red {
    z-index: 2;
    position: relative;
    background-color: #FF4D4D;
    width: 120px;
    height: 120px;
    color: #FFF;
    margin-top: -50px;
    margin-left: 50px;
}*/

/*TODO: CSS Vendor Prefixes */
/*.round {
    -webkit-border-radius: 24px;
    border-radius: 24px;
    border: 1px solid green;
    width: 200px;
    padding:25px;
}*/

/*TODO: The border-radius Property */
/*div {
    border-radius: 20px;
    background-color: green;
    /*border: 3px solid black;
    color: white;
    padding: 50px;
}

.test {
    border-radius: 0px 20px 10px 15px;
    background-color: red;
    border: 3px solid black;
    color: black;
    padding: 50px;
    margin-top: 10px;
}*/

/*TODO: Creating a Circle */
/*div {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: green;
    color: black;
}
p {
    font-size: 20px;
    color: blue;
    padding-top: 90px;
    padding-left: 35px;
    width: 200px;
}*/

/*TODO: The box-shadow Property */
/*div {
    width: 300px;
    height: 100px;
    background-color: #9ACD32;
    box-shadow: 10px 10px #888888;
}*/

/*TODO: Blur and Spread */
/*div {
    width: 300px;
    height: 100px;
    background-color: #9ACD32;
    box-shadow: 10px 10px 5px 5px #888888;
}*/

/*TODO: Negative Values */
/*div {
    width: 300px;
    height: 100px;
    background-color: #9ACD32;
    box-shadow: -10px -10px 5px -5px #888888;
}*/

/*TODO: Creating an Inner Shadow */
/*div {
    width: 300px;
    height: 100px;
    background-color: #9ACD32;
    box-shadow: inset 10px 10px 5px #888888, 10px 10px 5px 5px #888888;
}*/

/*TODO: Layering Multiple Shadows */
/*div {
    width: 300px;
    height: 100px;
    background-color: #9ACD32;
    box-shadow: inset 10px 10px 5px #888888, inset -10px -10px 5px #888888;
}*/

/*TODO: Layering Multiple Shadows */
/*div {
    width: 300px;
    height: 100px;
    background-color: #9ACD32;
    box-shadow: 0 0 10px 4px #FF6347, 0 0 10px 30px #FFDAB9, 30px 0 20px 30px #B0E0E6;

    margin-left:30px;
    margin-top:30px;
}*/

/*TODO: Transparency Effect */
/*body {
    background:url("http://www.sololearn.com/images/bg2.jpg");
}
nav {
    padding: 50px 0;
    min-width: 500px;
}
nav ul {
    background: linear-gradient(90deg,
     rgba(255, 255, 255, 0) 0%,
     rgba(255, 255, 255, 0.2) 25%,
     rgba(255, 255, 255, 0.2) 75%,
     rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
     inset 0 0 1px rgba(255, 255, 255, 0.6);
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    padding: 10px;
    color: #FFFFFF;
    font-size: 18px;
    font-family: Arial;
    text-decoration: none;
    display: block;
 }*/

/*TODO: Multiple Text Shadows */
/*h1 {
    text-shadow: 5px 10px 2px #93968f, -3px 6px 5px #58d1e3;
}*/

/*TODO: Working with Pseudo-Classes */
/*#parent p:first-child {
    color: green;
    text-decoration: underline;
}*/

/*TODO: Working with Pseudo-Classes */
/*#parent p:last-child {
    color: green;
    text-decoration: underline;
}*/

/*TODO: Working with Pseudo Elements */
/*p::first-line {
    color: #589432;
}*/

/*TODO: Working with Pseudo Elements */
/*p::-webkit-selection {
    background: #8bc34a;
    color: #fff;
}
p::selection {
    background: #8bc34a;
    color: #fff;
}*/

/*TODO: Working with Pseudo Elements */
/*p::before {
    content: url("http://www.sololearn.com/images/bullet.jpg");
}*/

/*TODO: The word-wrap Property */
/*p {
    width: 210px;
    height: 100px;
    border: 1px solid #000000;
    word-wrap: normal;
}*/

/*TODO: The word-wrap Property */
/*p {
    width: 210px;
    height: 100px;
    border: 1px solid #000000;
    word-wrap: break-word;
}*/

/*TODO: Using the @font-face Rule */
/*@font-face {
  font-family: Delicious;
  src: url('Delicious-Roman.otf');
}
@font-face {
  font-family: Delicious;
  font-weight: bold;
  src: url('Delicious-Bold.otf');
}
h1{
   font-family: Delicious, sans-serif;
}*/

/*TODO: Using the @font-face Rule */
/*@font-face {
   font-family: Delicious;
   src: url('Delicious-Roman.ttf');
   src: url('Delicious-Roman.eot?#iefix');
}
h1{
   font-family: Delicious, sans-serif;
}*/

/*TODO: Creating Linear Gradients */
/*div {
    float: left;
    width: 300px;
    height: 100px;
    margin: 4px;
    color: #FFF;
    background: linear-gradient(DeepSkyBlue, Black);
}*/

/*TODO: Color Stops */
/*div {
    float: left;
    width: 300px;
    height: 100px;
    margin: 4px;
    color: #FFF;
    background: linear-gradient(blue, yellow, green, pink, white);
}*/

/*TODO: Color Stops */
/*div {
    float: left;
    width: 300px;
    height: 100px;
    margin: 4px;
    color: #FFF;
    background: linear-gradient(blue 20%, yellow 30%, green 85%);
}*/

/*TODO: Direction of the Gradient */
/*div.first {
    float: left;
    width: 300px;
    height: 100px;
    margin: 4px;
    color: #FFF;
    background:-webkit-linear-gradient(left, blue, green, white);
    background:-moz-linear-gradient(left, blue, green, white);
    background:-ms-linear-gradient(left, blue, green, white);
}
div.second {
    float: left;
    width: 300px;
    height: 100px;
    margin: 4px;
    background:-webkit-linear-gradient(bottom, blue, green, white);
    background:-moz-linear-gradient(bottom, blue, green, white);
    background:-ms-linear-gradient(bottom, blue, green, white);
}*/

/*TODO: Angle of the Gradient */
/*div.first {
    float: left;
    width: 300px;
    height: 100px;
    margin: 4px;
    color: #FFF;
    background: -webkit-linear-gradient(bottom left, blue, green, white);
    background: -moz-linear-gradient(bottom left, blue, green, white);
    background: -ms-linear-gradient(bottom left, blue, green, white);
}
div.second {
    float: left;
    width: 300px;
    height: 100px;
    margin: 4px;
    background: -webkit-linear-gradient(100deg, blue, green, white);
    background: -moz-linear-gradient(100deg, blue, green, white);
    background: -ms-linear-gradient(100deg, blue, green, white);
}*/

/*TODO: Repeating a Linear-Gradient */
div {
    float: left;
    width: 300px;
    height: 100px;
    margin: 4px;
    color: #FFF;
    background: repeating-linear-gradient(blue, green 20px);
}

